html{
    height: 100%;
}

#nav {   
    width: 20%;
    height: 70%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8effc;
    color: #454d5b;
    /*align-items: center;
    justify-content: center;*/
    flex-direction: row;
}

#top-drawer-menu {
    width:  20%;
    height: 5%;
    list-style-type: none;
    position: absolute; top: 0.0%;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

#top-drawer-menu li{
    text-align: center;
    flex-grow: 1;
}

#homeIcon:hover p.navText{
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

#aboutMe:hover {
    content: url("https://png.icons8.com/female-user/dusk/64");
    height: 28px;
    width:  28px;
}

#skills:hover {
    content: url("https://png.icons8.com/dossier/dusk/64");
    height: 28px;
    width:  28px;
}

#projects:hover {
    content: url("https://png.icons8.com/code/dusk/64");
    height: 28px;
    width:  28px;
}

#contactMe:hover {
    content: url("phoneshake.gif");
    height: 28px;
    width: 28px;
}

.navText {
    display: none;
    position: relative; bottom: 2%;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

