html{
    height: 100%;
}

div a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 15px;
    display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
/*ul li {
    display: inline-block;
}*/
ul li:hover ul {
    display: block;
}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li { 
  background: #e8effc; 
  display: block; 
}
/*ul li ul li a {
    display:block !important;
} */
ul li ul li:hover {
    background: #e8effc;
}

#nav {

    height: 100%;   
    width: 100%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8effc;
    color: #454d5b; /* color of elissa huang*/
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#bottom-drawer-menu {
    width: 40%;
    height: 75%;
    list-style-type: none;
    margin-top: -30px;
    padding: 0px;

    display: flex;
    flex-direction: row;
}

#bottom-drawer-menu li{
    text-align: center;
    flex-grow: 1;
}

#home:hover {
    content: url("https://png.icons8.com/exterior/dusk/64");
    height: 32px;
    width:  32px;
}
