html, body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}




/*#nav {   
    width: 20%;
    height: 70%;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    flex-direction: row;
}*/

#top-drawer-menu {
    width:  15%;
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#homeIcon:hover p.navText{
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

#skillsIcon:hover p.navText{
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

#projectsIcon:hover p.navText{
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

#contactMeIcon:hover p.navText{
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

.navText {
    display: none;
    position: relative; bottom: 2%;
    width: 10px;
    height: 10px;
    color: #454d5b;
    font-size: 8pt;
}

